<%= form_with(model: grade, remote: true) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :assessment_id, t('assessment_id') %>
    <%= form.number_field :assessment_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :user_id, t('user_id') %>
    <%= form.number_field :user_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade, required: true, min: 0 %>
  </div>
<% end %>
