<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :student %>
    <%= t('grades.my_grades') %>
  <% elsif current_user.has_role? :staff %>
    <%= t('grades.manage_grades_for_my_subjects') %>
  <% else %>
    <%= t('grades.manage_grades') %>
  <% end %>
</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', grade:Grade.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "<%= t('assessment_id') %>", field: "assessment_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "<%= t('assessment_title') %>", field: "assessment_id", formatter: assessmentFormatter,sorter: "string", editor: false},
            {title: "<%= t('user_id') %>", field: "user_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "<%= t('user_name') %>", field: "user_id", formatter: userFormatter, sorter: "string", editor: false},
            {title: "<%= I18n.t('email_address') %>", field: "user_id", formatter: userFormatterEmail, sorter: "string", editor: false},
            {title: "<%= t('grade') %>", field: "grade", sorter: "number", editor: <%= @editStatus %>},
            <% if !current_user.has_role? :student %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
            <% end %>        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            $.ajax({

                url: '/grades/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {grade: cell.getRow().getData()},
                success: function () {
                    toastr.success('<%= t('edit_success') %>')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('<%= t('edit_fail') %>')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/grades");
    });

</script>
<% if !current_user.has_role? :student %>
  <button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')"><%= t('grades.new_grade') %></button>
<% end %>
<button class="btn btn-primary" onclick="table.replaceData()"><%= t('refresh_data') %></button>
