<%= form_with(model: assessment, remote: true) do |form| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject_id, t('subject_id') %>
    <%= form.number_field :subject_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
<% end %>
