<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :student %>
    <%= t('assessments.my_assessments') %>
  <% elsif current_user.has_role? :staff %>
    <%= t('assessments.manage_assessments_for_my_subjects') %>
  <% else %>
    <%= t('assessments.manage_assessments') %>
  <% end %>
</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', assessment:Assessment.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "<%= t('subject_id') %>", field: "subject_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "<%= t('subject_title') %>", field: "subject_id",  formatter: subjectFormatter, sorter: "string", editor: false},
            {title: "<%= t('assessment_name') %>", field: "name", sorter: "string", editor: <%= @editStatus %>},
            <% if current_user.has_role? :admin %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
            <% end %>        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            $.ajax({

                url: '/assessments/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {assessment: cell.getRow().getData()},
                success: function () {
                    toastr.success('<%= t('edit_success') %>')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('<%= t('edit_fail') %>')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/assessments");
    });

</script>
<% if !current_user.has_role? :student %>
  <button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')"><%= t('assesments.new_assessment') %></button>
<% end %>
<button class="btn btn-primary" onclick="table.replaceData()"><%= t('refresh_data') %></button>