<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @assesment.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @assesment.name %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assesment) %> |
<%= link_to 'Back', assessments_path %>
