<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= t('app_name') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact"><%= t('home.contact_us') %><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <% if signed_in? %>
      <div style="color:white;"> <%= t('header.signed_in_as') %> <%= current_user.email %> </div>
      <div class="vl"></div>
      <% if current_user.roles_name.size==1 %>
        <div style="color:white;">(<%= current_user.roles_name[0].capitalize %> Mode)</div>
        <div class="vl"></div>
      <% end %>
      <%= button_to t('header.sign_out'), destroy_user_session_path, method: :delete, :id => "loginButton", :class => "btn btn-primary ml-auto" %>
    <% end %>
  </div>
</nav>