<div class="container" style="height: 90vh;">
  <div class="row align-items-center" id="mainMenuRow">
    <div class="col">
      <a href="<%= grades_path %>" class="btn btn-sq-lg btn-primary">
        <i class="fas fa-graduation-cap fa-5x"></i><br/>
        My Grades <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= subjects_path %>" class="btn btn-sq-lg btn-info">
        <i class="fas fa-book fa-5x"></i><br/>
        Enroll to new Subject <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= user_show_path(current_user) %>" class="btn btn-sq-lg btn-warning">
        <i class="fas fa-user-cog fa-5x"></i><br/>
        My Account Info <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= enrollments_path %>" class="btn btn-sq-lg btn-danger">
        <i class="fas fa-plus fa-5x"></i><br/>
        My Enrollments<br>
      </a>
    </div>
    <div class="col">
      <a href="<%= assessments_path %>" class="btn btn-sq-lg btn-secondary">
        <i class="fas fa-microscope fa-5x"></i><br/>
        Manage Assessments<br>
      </a>
    </div>
  </div>
</div>
</div>