<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :required => true, type: "email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, required: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: 6 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, minlength: 6 %>
  </div>

  <div class="field">
    <%= f.label :roles %><br />
    <%= f.select :roles, [%w[Student student], %w[Staff staff], %w[Admin admin]] , required: true %>
  </div>
<% end %>