<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;"><%= t('users.manage_users') %></h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', resource:User.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "<%= I18n.t('user_id') %>", field:"id", sorter: "number",  editor: false},
            {title: "<%= I18n.t('firstname') %>", field: "firstname", sorter: "string",  editor: <%= @editStatus %>},
            {title: "<%= I18n.t('lastname') %>", field: "lastname", sorter: "string",  editor: <%= @editStatus %>},
            {title: "<%= I18n.t('email_address') %>", field: "email", sorter: "string", validator:"regex:[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}", editor: <%= @editStatus %>},
            {title: "<%= I18n.t('role') %>", field: "roles", mutatorData: roleMutator, formatter: roleFormatter, sorter: "string", editor: "select",
                editorParams: {
                values:[
            {
                label: "Staff",
                value: "staff",
            },
            {
                label: "Student",
                value: "student",
            },
            {
                label: "Admin",
                value: "admin",
            }
            ]}
            },
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteUser, cssClass: "DELETE_BUTTON_CLASS"}
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.

            $.ajax({
                url: '/users/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {user: cell.getRow().getData()},
                success: function () {
                    toastr.success('<%= t('edit_success') %>')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('<%= t('edit_fail') %>')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/admin/index");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New User</button>
<button class="btn btn-primary" onclick="table.replaceData()"><%= t('refresh_data') %></button>