



<div class="container" style="height: 90vh;">
  <div class="row align-items-center" id="mainMenuRow">
    <div class="col">
      <div class="card text-center" style="width: 21.5em;margin:0 auto;">
        <div class="card-body">
          <p>
            <strong>User ID: </strong> <%= @user.id %>
          </p>
          <p>
            <strong>First Name: </strong> <%= @user.firstname %>
          </p>
          <p>
            <strong>Last Name: </strong> <%= @user.lastname %>
          </p>
          <p>
            <strong>Email: </strong> <%= @user.email %>
          </p>
          <% if @user.course_id!=nil %>
            <% course = Course.find_by(id:@user.course_id) %>
            <p>
              <strong>Course ID: </strong> <%=  course.id %>
            </p>
            <p>
              <strong>Course: </strong> <%= course %>
            </p>
            <p>
              <%=link_to "Back to homepage", root_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>