<div class="container contact">
  <div class="row">
    <div class="col-md-3">
      <div class="contact-info">
        <i class="fas fa-envelope fa-6x"></i>
        <h2><%= t('home.contact_us') %></h2>
        <h4><%= t('home.get_in_touch') %></h4>
      </div>
    </div>
    <div class="col-md-9">
      <div class="contact-form">
        <%= form_with url: contact_path do |f| %>
          <div class="form-group">
            <label class="control-label col-sm-2" for="fname"><%= I18n.t('firstname') %>:</label>
            <div class="col-sm-10">
              <%= f.text_field :fname, :hint => 'Enter '+I18n.t('firstname'), :class => 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="lname"><%= I18n.t('lastname') %>:</label>
            <div class="col-sm-10">
              <%= f.text_field :lname, :hint => 'Enter '+I18n.t('lastname'), :class => 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email"><%= I18n.t('email_address') %>:</label>
            <div class="col-sm-10">
              <%= f.email_field :email, :hint => t('contact.enter_email'), :class => 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="message">Comment:</label>
            <div class="col-sm-10">
              <%= f.text_area :message, :hint => t('contact.enter_your_message'), :class => 'form-control', :rows => '5', required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit t('contact.send_message'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>