<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :admin %>
    <%= t('enrollments.manage_enrollments') %>
  <% elsif current_user.has_role? :student %>
    <%= t('enrollments.my_enrollments') %>
  <% else %>
    <%= t('enrollments.review_enrollments_for_my_courses') %>
  <% end %></h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', enrollment:Enrollment.new %>
<% end %>

<script>
    //Build Tabulator
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "<%= t('user_id') %>", field: "user_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "<%= t('user_name') %>", field: "user_id",  formatter:userFormatter, sorter: "string", editor: false},
            {title: "<%= t('subject_id') %>", field: "subject_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "<%= t('subject_name') %>", field: "subject_id",  formatter:subjectFormatter, sorter: "string", editor: false},
            <% if current_user.has_role? :admin %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
            <% end %>
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            $.ajax({

                url: '/enrollments/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {enrollment: cell.getRow().getData()},
                success: function () {
                    toastr.success('<%= t('edit_success') %>')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('<%= t('edit_fail') %>')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/enrollments");
    });

</script>
<button class="btn btn-primary" onclick="MicroModal.show('modal-1')"><%= t('enrollments.new_enrollment') %></button>
<button class="btn btn-primary" onclick="table.replaceData()"><%= t('subject_title') %></button>
