<p>Dear <%= t('app_name') %></p>
<p>Could you get in touch with me please?</p>
<dl>
  <dt>First Name:</dt>
  <dd><%= @fname %></dd>
  <dt>Last Name:</dt>
  <dd><%= @lname %></dd>
  <dt>Email:</dt>
  <dd><%= @email %></dd>
  <p>Message:</p>
  <p><%= @message %></p>
  <p>Thanks,</p>
  <p><%= @fname+' '+@lname %></p>
</dl>