<p>Dear <%= t('app_name') %></p>
<p>Could you get in touch with me please?</p>
<dl>
  <dt><%= I18n.t('firstname') %>:</dt>
  <dd><%= @fname %></dd>
  <dt><%= I18n.t('lastname') %>:</dt>
  <dd><%= @lname %></dd>
  <dt><%= I18n.t('email_address') %>:</dt>
  <dd><%= @email %></dd>
  <p>Message:</p>
  <p><%= @message %></p>
  <p>Thanks,</p>
  <p><%= @fname+' '+@lname %></p>
</dl>