<%= form_with(model: subject, remote: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :user_id, "Lecturer" %>
    <%= form.text_field :user_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, required: true %>
  </div>
<% end %>
