<!DOCTYPE html>
<html>
<head>
  <title>StudentApp</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

  <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

  <script type="text/javascript" src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>



  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

</head>

<body>
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title">
          Add new item
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <div class="modal-content-content">
        <div class="modal__content">
          <% if content_for?(:modal) %>
            <%= yield(:modal) %>
          <% end %>
        </div>
        <footer class="modal__footer">
          <button class="modal__btn"  onClick="submitButtonAction();" aria-label="Cancel">Submit</button>
          <button class="modal__btn" data-micromodal-close aria-label="Cancel">Close</button>
        </footer>
      </div>
    </div>
  </div>
</div>
<% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f| %>
      toastr.info('<%= f[1] %>');
      <% end %>
  </script>
<% end %>

<% unless current_page?(new_user_session_path) %>
  <%= render "layouts/shared/header" %>
  <div style="height: 90vh;">
<% end %>
<%= yield %>
<% unless current_page?(new_user_session_path) %>
  </div>
  <%= render "layouts/shared/footer" %>
<% end %>
</body>
<script>
    v = $('#modal-1').find('form').validate();
</script>
</html>
