<!DOCTYPE html>
<html>
<head>
  <title>StudentApp</title>

  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

</head>

<body>
<% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f| %>
      toastr.options = {
          "closeButton": false,
          "debug": false,
          "positionClass": "toast-bottom-right",
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
      toastr.info('<%= f[1] %>');
      <% end %>
  </script>
<% end %>

<% unless current_page?(new_user_session_path) %>
  <%= render "layouts/shared/header" %>
  <div style="height: 90vh;">
<% end %>
<%= yield %>
<% unless current_page?(new_user_session_path) %>
  </div>
  <%= render "layouts/shared/footer" %>
<% end %>
</body>
</html>
