<!DOCTYPE html>
<html>
<head>
  <title>StudentApp</title>

  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://unpkg.com/bootstrap-table@1.17.0/dist/bootstrap-table.min.js"></script>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

</head>

<body>
<% console %>
<% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f| %>
      toastr.options = {
          "closeButton": false,
          "debug": false,
          "positionClass": "toast-bottom-right",
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
      toastr.info('<%= f[1] %>');
      <% end %>
  </script>
<% end %>

<% unless current_page?(new_user_session_path) %>
  <%= render "layouts/shared/header" %>
  <div style="height: 90vh;">
<% end %>
<%= yield %>
<% unless current_page?(new_user_session_path) %>
  </div>
  <%= render "layouts/shared/footer" %>
<% end %>
</body>
</html>
