<!DOCTYPE html>
<html>
<head>
  <title>StudentApp</title>

  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<% unless current_page?(root_path) %>
  <%= render "layouts/shared/header" %>
<% end %>
<%= yield %>
<% unless current_page?(root_path) %>
  <%= render "layouts/shared/footer" %>
<% end %>
</body>
</html>
